// Colors

$bg-color: #202637;
$b-color: #f2f2f2;
$y-color: #f02b67;
$extra-bc: #929d9e;

// Fonts

$body-font: "Libre Franklin", sans-serif;

// Font sizes

$font-vsm: 1rem;
$font-sm: 1.3rem;
$font-bsm: 1.7rem;
$font-med: 2rem;
$font-lmed: 3rem;
$font-lg: 4rem;
$font-exlg: 6rem;
$font-but: 1.5rem;
